{:aliases {:compiler-check {:main-opts ["-m" "fast-twitch.compiler-fixtures"]}
           :lint {:extra-paths ["dev"] :main-opts ["-m" "fast-twitch.lint"]}
           :native-test {:extra-deps
                           {org.clojure/clojurescript
                              {:git/sha "56a94ac13bfac22108e4d868dfd4763edaceb864"
                               :git/url "https://github.com/clojure/clojurescript"}}
                         :extra-paths ["dev" "test"]
                         :main-opts ["-m" "fast-twitch.test-runner"]}
           :portable-test {:main-opts ["-m" "fast-twitch.qualification"]}
           :zprint {:extra-deps {zprint/zprint {:mvn/version "1.3.0"}}
                    :main-opts ["-m" "zprint.main" "{:cwd-zprintrc? true}"]}}
 :deps {metosin/malli {:mvn/version "0.20.2"}}
 :paths ["src" "resources"]}
