{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript{:mvn/version "1.12.134"}
        no.cjohansen/replicant {:mvn/version "2025.12.1"}}
 :aliases {:nREPL {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0"}
                              cider/cider-nrepl {:mvn/version "0.59.0"}
                              cider/piggieback {:mvn/version "0.6.1"}}
                 :main-opts ["-m" "nrepl.cmdline" "--middleware"
                             "[cider.nrepl/cider-middleware, cider.piggieback/wrap-cljs-repl]"]}
         :test {:extra-paths ["test"]}}}

;; Start the nREPL server
;; clj -M:nREPL
