{:paths
 ["src"]
 :deps
 {cljs-http/cljs-http        {:mvn/version "0.1.46"}
  com.taoensso/timbre        {:mvn/version "6.2.2"}
  bidi/bidi                  {:mvn/version "2.1.6"}
  lambdaisland/uri           {:mvn/version "1.15.125"}
  mount/mount                {:mvn/version "0.1.17"}
  org.clojure/core.match     {:mvn/version "1.0.1"}
  com.cognitect/transit-cljs {:mvn/version "0.8.280"}
  reagent/reagent            {:mvn/version "1.2.0"
                              :exclusions  [cljsjs/react cljsjs/react-dom]}}}
