{:infer-externs :all
 :language-in :es-next
 :language-out :es-next
 :main workerd-example.worker
 :optimizations :simple
 :output-dir "target/cljs"
 :output-to "target/compiled.cjs"
 :output-wrapper "%s\nmodule.exports = {fetch: workerd_example.worker.fetch};\n"
 :source-map false
 :target :bundle}
